<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">/Users/weizheng/Programming/Logs/spring-financial-data</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>
        <File name="File-Appender" fileName="${log-path}/finance_data.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
        <RollingFile name="RollingFile-Appender"
                     fileName="${log-path}/finance_data_rolling.log"
                     filePattern="${archive}/finance_data_rolling.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="30 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="Spring-RollingFile-Appender"
                     fileName="${log-path}/spring_finance_data_rolling.log"
                     filePattern="${archive}/spring_finance_data_rolling.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="30 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.wzstudio.spring.finance.data" level="debug" additivity="false">
            <AppenderRef ref="File-Appender" level="warn"/>
            <AppenderRef ref="RollingFile-Appender" level="debug"/>
            <AppenderRef ref="Console-Appender" level="info"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="Spring-RollingFile-Appender"/>
        </Root>
    </Loggers>
</Configuration>